.devs{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
    font-size: 20px;
    margin-top: 50px;
}



.developers{
    display: flex;
        padding-top: 50px;
}